#wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: rgba(33,33,33,.9);
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2
}
iframe{
    padding-left: 120px;
}
#wrapper nav ul li {
    padding: 20px 28px
}

#wrapper nav ul li a {
    text-decoration: none;
    color: #ddd
}
.twitter-timeline {
    margin-left: 100px;
}
#wrapper .youtube{
    margin-top: 50px;
    float: right;
}
#wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

#wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

#wrapper .btn-gnavi span:nth-child(1) {
    top: 0
}

#wrapper .btn-gnavi span:nth-child(2) {
    top: 10px
}

#wrapper .btn-gnavi span:nth-child(3) {
    top: 20px
}

#wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

#wrapper .btn-gnavi.open span {
    background: #fff
}

#wrapper .btn-gnavi.open span:nth-child(1) {
    width: 24px;
    -webkit-transform: translate(-7px,17px) rotate(45deg);
    transform: translate(-7px,17px) rotate(45deg)
}

#wrapper .btn-gnavi.open span:nth-child(3) {
    width: 24px;
    -webkit-transform: translate(-7px,-17px) rotate(-45deg);
    transform: translate(-7px,-17px) rotate(-45deg)
}

#wrapper .contents section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden
}

#wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666
}

#wrapper .contents section:nth-child(odd) p {
    left: 10%
}

#wrapper .contents section:nth-child(even) p {
    right: 10%
}

#wrapper .contents section#section01 {
    background-image: url(../images/img01.jpg)
}

#wrapper .contents section#section02 {
    background-image: url(../images/img02.jpg)
}
#wrapper .contents section#section03 {
    background-image: url(../images/img03.jpg)
}
.footer {
  height: 70px;
  background-color: #2f3a44;
  color: #e8e8e8;
  padding-top: 20px;
}
.footer-left {
  float: left;
  padding-left: 30px;
}
.footer-right {
  float: right;
  padding-top: 20px;
  padding-right: 10px;
}
.footer-left p {
    padding-left: 20px;
  margin-bottom: 8px;
}
.ad a{
    margin-top: 20px;
    margin-left: 40px;
}
@media (max-width: 1024px){
    .main-visual{
        padding-top: 120px;
        padding-bottom: 80px;
    }
    .twitter-timeline{
        width: 100px;
    }
    .contents iframe{
        width: 100px;
    }
    .btn-gnavi{
        padding-rigtht:20px;
    }
}
